#Generics
python-dotenv
pypdf

#For Langchain
langchain
langchain-openai
langchain-core
langchain-text-splitters
langchain-community
langchain-tavily

#Langgraph
langgraph

# For postgreSQL checkpointer
langchain_postgres
langgraph-checkpoint-postgres
psycopg[binary]
